# =========================
# .NET / Visual Studio
# =========================
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# =========================
# Node / frontend temp
# =========================
node_modules/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / publish
# =========================
publish/
dist/

# =========================
# Secrets / local settings
# =========================
appsettings.Development.json
.env